:root {
  --amarillo: rgb(198, 138, 46);
  --grisClaro: rgb(149, 154, 156);
  --grisAzulado: rgb(87, 102, 115);
  --azul: rgb(31, 56, 86);
  --grisOscuro: rgb(55, 59, 59);
}


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

main {
  padding: 2%;
  display: flex;
  flex-direction: row;
}

body{
  background-color: var(--grisAzulado);
}

section {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  height: 80vh;
  padding: 2%;
  align-items: center;
  justify-content: center;
  padding: 0 30px;  
}


section ul li{
  list-style: none;
}


.list-users{
  list-style: none;
  background-color: var(--azul);
  color: var(--amarillo);
  border-radius: 5%;


}

.list-users ul{
  list-style: none;
}

.list-products{
  list-style: none;
  background-color: var(--azul);
  color: var(--amarillo);
  border-radius: 5%;


}

.list-products ul{
  list-style: none;
}


.links{
  padding-bottom: 40px;
  
}
.links a{
  color:var(--amarillo);
  text-decoration: none;
}

.total-products{
  padding: 20px 0;
}