
main {
  padding: 2%;
  display: flex;
  flex-direction: row;
}

section {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

h3 Link {
  text-decoration: none;
  color: black;
}
