<header>
    
        <nav class="navCentro">
            <a href="/"><img class="logo" src="/images/logoKechian.png" alt=""></a>
            <!-- <a  href="#menuBurger" class="bar-btn"><i class="logoMenu fa-solid fa-bars"></i></a> --> 
            <div class="toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <script defer src="/scripts/hamburger.js"></script>
        </nav> 
        
         
        <nav class="navAtras">
            <a class="productos" href="/products/list"> PRODUCTOS</a> 
            <form action="/products/list" method="get"><!--Mateo:me lleva a la vista-->
                <input type="text" name="search" class="buscador" id="search">
                <button class="buscar" id="searchBoton"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <a href="/products/cart" class="carrito" >CARRITO</a>
            <% if (locals.user && locals.user.admin == 1) { %>  
                <a href="http://localhost:3000" class="buscar"> DASHBOARD</a> 
                <% } %> 
            <% if (locals.user) {  %>
                
                <a href="/user/<%=(locals.user.id)%>" class="usuarioPefil" >MI PERFIL</a> 
                
                <form action="/logout" method="post"><button type="submit"><i class="fa-solid fa-door-open"></i></button></form>

            <% }else{  %>
                
            <a href="/login" class="logIn">INGRESA</a>

            <% } %> 
        </nav>
        
    
</header>
<!-- (sí, está afuera del header.. shhhh) -->
<nav class="menuMobile">
    <a class="productos" href="/products/list"> PRODUCTOS </a> 
    <a href="">CARRITO</a>
    <% if (locals.user) {  %>
        
        <a href="/user/<%=(locals.user.id)%>" class="usuarioPefil" >MI PERFIL</a> 
        
        <form action="/logout" method="post"><button type="submit"><i class="fa-solid fa-door-open"></i></button></form>

    <% }else{  %>
        
    <a href="/login" class="logIn">INICIA SESION</a>

    <% } %> 
    
</nav>
