<header>
    
        <nav class="navCentro">
            <a href="/"><img class="logo" src="/images/logoKechian.png" alt=""></a>
            <a  href="#menuBurger" class="bar-btn">
                <i class="fa-solid fa-bars"></i>
            </a>
        </nav> 
         
        <nav id="menuBurger"> 
            <a class="active" href="/">home</a>
            <a href="/register">Registro</a>
            <a href="#">service</a>
            <a href="#">porfile</a>  
        </nav>

        <nav class="navAtras">
            <a class="productos" href="/products/list"> PRODUCTOS</a> 
            <a href="#" class="buscar"><i class="fa-solid fa-magnifying-glass"></i></a>
            <a href="/products/cart" class="carrito" >CARRITO</a>
            <% if (locals.user) {  %>
                
                <a href="/user/<%=(locals.user.id)%>" class="usuarioPefil" >MI PERFIL</a> 
                
                <form action="/logout" method="post"><button type="submit"><i class="fa-solid fa-door-open"></i></button></form>

            <% }else{  %>
                
            <a href="/login" class="logIn">INGRESA</a>

            <% } %> 
        </nav>
    
</header>
