<li class="caja-producto-oferta">
    <a href="/products/detail/<%= element.id %>">
            <div class="div-imagen-producto"><img src="/products/<%= element.image %>" class="imagen-oferta"></div>
            <div class="caja-off">
                <div class="texto">
                    <a class="tipografia-nombre-producto"><%= element.name %></a>

                </div>
            </div>
    </a> 
</li>
