* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-image: url(/images/fondo.jpg);
    background-position: top-;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

main {
    margin-bottom: 15%;
}

.caja1 {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.formularioUsuario {
    color: rgb(198, 138, 46);
    font-family: 'Montserrat', sans-serif;
    width: 35%;
    padding: 2%;
    background-color: rgb(31, 56, 86);
    border-radius: 2%;
    flex-direction: column;
}

.modificarUsuario {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    margin-bottom: 7%;   
    font-weight: 600;
    text-decoration: underline;
    
}

.informacionPersonal {
    margin-bottom: 3%;
}

.informacionCuenta {
    margin-bottom: 1%;
}

.botonUsuario {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(31, 56, 86);
    font-size: 16px;
    color: rgb(198, 138, 46);
    margin-top: 2%;
}

.botonesCrearInicioUsuario {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#imagenUsuario{
    margin-bottom: 5%;
}

#nombreUsuario {
    border-radius: 5px;
    background-color: rgb(140, 154, 156);
    padding: 1.3%;
    width: 100%;
    color: black;
    margin-top: 1.4%;
    margin-bottom: 3%;
}

#apellidoUsuario {
    border-radius: 5px;
    background-color: rgb(140, 154, 156);
    padding: 1.3%;
    width: 100%;
    color: black;
    margin-top: 1.4%;
    margin-bottom: 3%;
}

::placeholder {
    color: black;
}

#ubicacionUsuario {
    border-radius: 5px;
    background-color: rgb(140, 154, 156);
    padding: 1.3%;
    width: 100%;
    color: black;
    margin-top: 1.4%;
    margin-bottom: 4%;
}





