*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
    text-decoration:none;
}

body {
    background-image: url(/images/fondo.jpg);
    background-position: top-;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainPerfilUsuario {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}


.contenedorPerfilUsuario {
    height: 50vh;
    margin: 5%;
    display: flex;
    flex-direction: row;
    width: 50%;
    background-color: var(--azul);
    border-radius: 20px;
    box-shadow: 10px 10px 5px #242424;
}

.fichaPerfilUsuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2%;
    width: 100%;
    font-size: 0.65em;
}

.perfilUsuario {
    font-family: 'Montserrat', sans-serif;
    color: rgb(198, 138, 46);
    font-size: 20px;
    justify-content: center;
}

.usuario {
    font-family: 'Montserrat', sans-serif;
    color: rgb(198, 138, 46);
    font-size: 0.8rem;
}

.datoUsuario{
    margin-left: 2%;
    font-size: 0.8rem;
}


.tituloPerfilUsuario{
    margin-top: 4%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

.titulo{
    margin-bottom: 4%;
    display: flex;
    flex-direction: row;
}


.contenedorImagenUsuario{
    display: none;
}

.imagenUsuario {
    margin: auto;
    max-width: 80%;
    max-height: 80%px;
    
}

/* .botonConfig {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 4%;
    font-size: 16px;
    padding: 8px;
    background-color: var(--amarillo);
    color: var(--amarillo);
    width: 70%;
    height: 33px;
    border-radius: 11px;
    text-decoration: none;
} */
.botonConfig{
    display: flex;
    justify-content: center;
    background-color: var(--amarillo);
    font-family: Montserrat, sans-serif;
    /* font-style: italic; */
    color: black;
    width: 70%;
    
    height: 33px;
    border-radius: 11px;
}



.perfilConfig {
    
    background-color: var(--amarillo);
    font-family: Montserrat, sans-serif;    
}

.aPerfilConfig {
    text-decoration: none;
    color: black;
}





@media (min-width:800px) {
    .contenedorImagenUsuario{
        display: flex;
        width: 100%;
        flex-basis: 40%;
        box-sizing: border-box;
        overflow: hidden;
        align-items: center;
        justify-content: center;
    }

    .fichaPerfilUsuario {
        flex-basis: 60%;
        font-size: 1rem;
        align-items: center;
    }
    
    .usuario, .datoUsuario{
        font-size: 1rem;
    }
    .contenedorFicha {
        display: flex;
        justify-content: center;
    }
}

