<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head.ejs', {estilo: 'index', titulo: 'Kechian'}) %>

<body>
    <%- include ('partials/header.ejs') %>
    <main>
    <section class="oferta">

        <article class="caja-producto-oferta">
            <div class="div-imagen-producto"><img src="images/camisa-8.jpg" class="imagen-oferta"></div>
            <div class="caja-off">
                <div class="texto">
                    <a class="tipografia-nombre-producto">Nombre producto</a>
                    <a class="tipografia-oferta">25%Off</a>
                </div>
                <div class="caja-carrito"><i class="fa-solid fa-cart-plus"></i></div>
            </div>
        </article>

        <article class="caja-producto-oferta">
            <div><img src="images/camisa-9.jpg" class="imagen-oferta"></div>
            <div>
                <div class="caja-off">
                    <div class="texto">
                        <a class="escrito tipografia-nombre-producto">Nombre producto</a>
                        <a class="escrito tipografia-oferta">25%Off</a>
                    </div>
                    <div class="caja-carrito"><i class="fa-solid fa-cart-plus"></i></div>
                </div>
            </div>
        </article>

        <article class="caja-producto-oferta">
            <div><img src="images/camisa-10.jpg" class="imagen-oferta"></div>
            <div>
                <div class="caja-off">
                    <div class="texto">
                        <a class="tipografia-nombre-producto">Nombre producto</a>
                        <a class="tipografia-oferta">25%Off</a>
                    </div>
                    <div class="caja-carrito"><i class="fa-solid fa-cart-plus"></i></div>
                </div>
            </div>
        </article>

        <article class="caja-producto-oferta">
            <div><img src="images/camisa-13.jpg" class="imagen-oferta"></div>

            <div>
                <div class="caja-off">
                    <div class="texto">
                        <a class="tipografia-nombre-producto">Nombre producto</a>
                        <a class="tipografia-oferta">25%Off</a>
                    </div>
                    <div class="caja-carrito"><i class="fa-solid fa-cart-plus"></i></div>
                </div>
            </div>
        </article>

    </section>

    <section>
        <% if (products.length > 0) { %>
            <ul class="lista-producto">
                <% products.forEach(element => { %>
                    <%- include('./partials/product.ejs',{element:element})  %>
                        <% }) %>
            </ul>
            <% } else { %>
                <h2>
                    No hay productos <a href="/productos">Volver</a>
                </h2>
                <% } %>
    </section>

    <section class="muestra-productos">
        <article class="producto-caja">
            <img src="images/camisa-4.jpg" class="imagen-producto">
        </article>

        <article class="producto-caja">
            <img src="images/camisa-5.jpg" class="imagen-producto">
        </article>

        <article class="producto-caja">
            <img src="images/camisa-6.jpg" class="imagen-producto">
        </article>

        <article class="producto-caja">
            <img src="images/camisa-7.jpg" class="imagen-producto">
        </article>

        <article class="producto-caja">
            <img src="images/camisa-3.jpg" class="imagen-producto">
        </article>

        <article class="producto-caja">
            <img src="images/camisa-2.jpg" class="imagen-producto">
        </article>

    </section>
    </main>
    <%- include ('partials/footer.ejs') %>

</body>

</html>