<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/6056d9f097.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="style.css">
    <title>Document</title>


</head>

<body>




    <header class="top-header">
        <nav class="top-nav">


            <input type="checkbox" id="btn-menu">
            <label id="nav-label" for="btn-menu">
            <i class="fas fa-bars"></i>
        </label>


            <ul class="menu-tablet">
                <li>
                    <a href="">Home</a>
                </li>

                <li>
                    <a href="">Productos</a>
                </li>

                <li>
                    <a href="">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                </li>

                <li>
                    <a href="">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </li>

                <li>
                    <a href="">
                        <i class="fa-regular fa-address-card"></i>
                    </a>
                </li>
            </ul>

            <ul class="menu m-1">
                <li>
                    <a href="">Home</a>
                </li>

                <li>
                    <a href="">Productos</a>
                </li>
            </ul>


            <h1 class="logo">KECHIAN</h1>


            <ul class="menu m-2">
                <li>
                    <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                </li>

                <li>
                    <a href=""><i class="fa-solid fa-cart-shopping"></i>                
                    </a>
                </li>

                <li>
                    <a href=""><i class="fa-regular fa-address-card"></i></a>
                </li>
            </ul>
        </nav>
    </header>


    <footer>
        <article class="f-res">

            <p class="f-t">AYUDA</p>


            <div class="info-f">
                <p>Preguntas frecuentes</p>
                <p>Cambios y devoluciones</p>
                <p>Envios</p>
            </div>
        </article>

        <article class="f-res">

            <p class="f-t">EMPRESA</p>


            <div class="info-f">
                <p>Politicas de privacidad</p>
                <p>Cambios y devoluciones</p>
                <p>Contacto</p>
            </div>
        </article>

        <article class="f-res">

            <p class="f-t">CONTACTO</p>


            <div class="info-f">
                <p>Atencion al cliente</p>
                <p>biribiri@gmail.com</p>
                <p>11-1234-5678</p>
            </div>
        </article>

        <article class="f-res">

            <p class="f-t">REDES</p>


            <div class="info-f">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-whatsapp"></i>
            </div>
        </article>
    </footer>
</body>

</html>