<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="styles/header_footer.css">
    <link rel="stylesheet" href="styles/detalle.css">
    <title>Product Detail</title>
</head>

<body>
    <header>
        <nav>
            <div class="navAdelante">
                <a class="navDesktop indice home" href="/">Home</a>
                <a class="navDesktop indice" href="/">Productos</a>
            </div>
            <div class="navCentro">
                <a href="/"><img class="logo" src="/images/kechian.jpg" alt=""></a>
            </div>
            <div class="hamburguesa">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="navAtras">
                <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="/login"><i class="fa-regular fa-address-card"></i></a>
            </div>
        </nav>
        <main class="mainDetail">
            <section class="contenedorDetalle">
                <div class="contenedorImagenDetalle">
                    <picture class="imagenDetalle">
                        <img src="/images/camisa-1.jpg" alt="">
                    </picture>
                    <p class="nombreDetalle">Nombre del producto</p>
                </div>
                <section class="fichaDetalle">
                    <div class="nombreProd">
                        <h2 class="nombreCamisa">Camisa lalala</h2>
                    </div>
                    <section class="precios">
                        <p class="precioUno">$12.600</p>
                        <p class="precioDos">$7.875</p>
                        <p class="descuento">(60% off)</p>
                    </section>
                    <section class="detalle">
                        <p>Camisa exclusiva entallada sin variedad de colores. Confeccionada con lalala de Albus Dumbledore.</p>
                        <p>Largo: 72 cms</p>
                        <p>Composición: Seda fina de locro patrio.</p>
                        <p>CUIDADO: Lavar con agua fría.</p>
                        <p>Talle: Único</p>
                    </section>
                    <section class="finalDetalle">
                        <p class="cantidadUnidades">Cantidad de unidades:</p>
                        <div class="inputUnidades">
                            <label for="unidades"></label>
                            <input type="number" id="unidades" name="unidades" value="1" required><br>
                        </div>
                        <button>Añadir al carrito</button>
                    </section>
                </section>
            </section>
        </main>
        <footer>
            <div class="noventa">
                <div class="ayuda">
                    <h3 class="">AYUDA</h3>
                    <div class="alinea">
                        <p>Preguntas frecuentes</p>
                        <p>Cambios y devoluciones</p>
                        <p>Envíos</p>
                    </div>
                </div>
                <div class="empresa">
                    <h3 class="">EMPRESA</h3>
                    <div class="alinea">
                        <p>Políticas de privacidad</p>
                        <p>Sobre nosotros</p>
                    </div>
                </div>
                <div class="contacto">
                    <h3 class="">CONTACTO</h3>
                    <div class="alinea">
                        <p>Atención al cliente</p>
                        <p>kechian.ba@gmail.com</p>
                        <p>11-1234-5678</p>
                    </div>
                </div>
                <div class="redes">
                    <h3 class="">REDES</h3>
                    <div class="iconosRedes alinea">
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-whatsapp"></i>
                    </div>
                </div>
            </div>
        </footer>
    </header>