<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="styles/header_footer.css">
    <link rel="stylesheet" href="styles/cart.css">
    <title>Product Cart</title>
</head>


<body>
    <header>
        <nav>
            <div class="navAdelante">
                <a class="navDesktop indice home" href="/">Home</a>
                <a class="navDesktop indice" href="/">Productos</a>
            </div>
            <div class="navCentro">
                <a href="/"><img class="logo" src="/images/kechian.jpg" alt=""></a>
            </div>
            <div class="hamburguesa">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="navAtras">
                <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="/login"><i class="fa-regular fa-address-card"></i></a>
            </div>
        </nav>
    </header>
    <main>
        <div class="contenedorCart">
            <div class="parent">

                <div class="div1">
                    <h3>Producto</h3>
                </div>
                <div class="div2">
                    <h3>Precio</h3>
                </div>
                <div class="div3">
                    <h3>Cantidad</h3>
                </div>
                <div class="div4">
                    <h3>Subtotal</h3>
                </div>

                <div class="div5">
                    <i class="fa-duotone fa-x cancelar"></i>
                    <img src="/images/camisa-1.jpg" class="miniatura" alt="">
                    <p class="nombreProd">Nombre del producto</p>
                </div>
                <div class="div6"> </div>
                <div class="div7"> </div>
                <div class="div8"> </div>
                <div class="div9">
                    <i class="fa-duotone fa-x cancelar"></i>
                    <img src="/images/camisa-1.jpg" class="miniatura" alt="">
                    <p class="nombreProd">Nombre del producto</p>
                </div>
                <div class="div10"> </div>
                <div class="div11"> </div>
                <div class="div12"> </div>
                <div class="div13"> </div>
                <div class="div14"> </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="noventa">
            <div class="ayuda">
                <h3 class="">AYUDA</h3>
                <div class="alinea">
                    <p>Preguntas frecuentes</p>
                    <p>Cambios y devoluciones</p>
                    <p>Envíos</p>
                </div>
            </div>
            <div class="empresa">
                <h3 class="">EMPRESA</h3>
                <div class="alinea">
                    <p>Políticas de privacidad</p>
                    <p>Sobre nosotros</p>
                </div>
            </div>
            <div class="contacto">
                <h3 class="">CONTACTO</h3>
                <div class="alinea">
                    <p>Atención al cliente</p>
                    <p>kechian.ba@gmail.com</p>
                    <p>11-1234-5678</p>
                </div>
            </div>
            <div class="redes">
                <h3 class="">REDES</h3>
                <div class="iconosRedes alinea">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-whatsapp"></i>
                </div>
            </div>
        </div>
    </footer>
</body>