<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head.ejs', {estilo: 'crear', titulo: 'Crear nuevo producto'}) %>

    <body>
        <%- include ('../partials/header.ejs') %>

            <main>
                <div class="c1">
                    <form class="c2" action="/products/guardar" method="POST">
                        <p class="crea"> Creá un nuevo producto </p>

                        <div>
                            <label class="elemento" for="nombre-producto"></label>
                            <input class="grl-top" type="text" id="name" name="name" placeholder="Nombre del producto" required>
                        </div>

                        <div>
                            <label class="elemento" for="descripción"></label>
                            <input class="grl" type="text" id="descripción" name="description" placeholder="Descripción" required>
                        </div>


                        <div>
                            <label class="elemento" for="categoria"></label>
                            <input class="grl" type="text" id="categoria" name="category" placeholder="Categoría" required>
                        </div>

                        <div>
                            <label class="elemento" for="imagen"></label>
                            <input class="grl" type="file" id="imagen" name="image">
                        </div>

                        <div>
                            <label class="elemento" for="talle"></label>
                            <select class="grl" type="number" id="talle" name="size"  required>
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                        <option value="extraLarge">Extra large</option>    
                    </select><br>
                        </div>

                        <div>
                            <label class="elemento" for="precio"></label>
                            <input class="grl" type="number" id="precio" name="price" placeholder="Precio" required>
                        </div>



                        <div class="agrega">
                            <button type="submit">Guardar producto</button>
                        </div>


                    </form>
                </div>
            </main>


            <%- include ('../partials/footer.ejs') %>

    </body>

</html>