<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head.ejs', {estilo: 'modificar', titulo: 'Modificar producto'}) %>

    <body>
        <%- include ('../partials/header.ejs') %>

            <main>
                <div class="c1">
                    <form  action="/products/actualizar?_method=PUT" method="POST" class="c2">

                        <input type="hidden" name="sku" value="<%= product.id %> ">
                        
                        <p class="modificar"> Modificar producto </p>

                        <div>
                            <label class="elemento" for="nombre-producto"></label>
                            <input class = "grl-top" type="text" id="nombre-producto" name="nombre-producto" value="Nombre-producto" required>
                        </div>

                        <div>
                            <label class="elemento" for="descripci贸n"></label>
                            <input class="grl" type="text" id="descripci贸n" name="descripci贸n" value="Descripci贸n" required>
                        </div>


                        <div>
                            <label class="elemento" for="categoria"></label>
                            <input class="grl" type="text" id="categoria" name="categoria" value="Categoria" required>
                        </div>

                        <div>
                            <label class="elemento" for="imagen"></label>
                            <input class="grl" type="file" id="imagen" name="imagen" value="Imagen" required>
                        </div>

                        <div>
                            <label class="elemento" for="talle"></label>
                            <select class="grl" type="number" id="talle" name="talle" value="Talle" required>
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                        <option value="extraLarge">Extra large</option>    
                            </select><br>
                        </div>

                        <div>
                            <label class="elemento" for="precio"></label>
                            <input class="grl" type="number" id="precio" name="precio" value="Precio" required>
                        </div>

                        <div class="modificar">
                            <a href="#">MODIFICAR</a>
                        </div>

                    </form>
                </div>
            </main>

            <%- include ('../partials/footer.ejs') %>

    </body>

</html>


