<!DOCTYPE html>
<html lang="en">


    <%- include('../partials/head.ejs', {estilo: 'list', titulo: 'Lista'})  %>


<body>
    <%- include ('../partials/header.ejs') %>
    
    <main class="fotosPrincipales">
    <% if (products.length > 0) { %>
        <ul class="lista-producto">
            <% products.forEach(element => { %>
                <%- include('../partials/product.ejs',{element:element})  %>
                    <% }) %>
        </ul>
        <% } else { %>
            <h2>
                No hay productos <a href="/productos">Volver</a>
            </h2>
            <% } %>

                <nav class="add-product">
                    <button><a href="/products/crear" class="newProduct">Nuevo producto</a></button>
                </nav>
    </main>
    <%- include('../partials/footer.ejs', {estilo: 'footer', titulo: 'Lista'})  %>
</body>
    
</html>