<footer>
    <div class="noventa">
        <div class="ayuda">
            <h3 class="">AYUDA</h3>
            <div class="alinea">
                <p>Preguntas frecuentes</p>
                <p>Cambios y devoluciones</p>
                <p>Envíos</p>
            </div>
        </div>
        <div class="empresa">
            <h3 class="">EMPRESA</h3>
            <div class="alinea">
                <a href="/products/crear" class="">Crear</a>
                <a href="/products/modificar" class="">Modificar</a>
                <p>Sobre nosotros</p>
            </div>
        </div>
        <div class="contacto">
            <h3 class="">CONTACTO</h3>
            <div class="alinea">
                <p>Atención al cliente</p>
                <p>kechian.ba@gmail.com</p>
                <p>11-1234-5678</p>
            </div>
        </div>
        <div class="redes">
            <h3 class="">REDES</h3>
            <div class="iconosRedes alinea">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-whatsapp"></i>
            </div>
        </div>
    </div>
</footer>