<header>
    
        <nav class="navCentro">
            <a href="/"><img class="logo" src="/images/logoKechian.png" alt=""></a>
        </nav>
        <!-- <div class="navAdelante">
            <a class="navDesktop indice home" href="/">Home</a>
            <a class="navDesktop indice" href="/">Productos</a>
        </div> -->
        
        <div class="hamburguesa">
            <i class="fa-solid fa-bars"></i>
        </div>
        <nav class="navAtras">
            <a class=" " href="/"><i class="fa-solid fa-house"></i></a> <!-- Home -->
            <a class="" href="/products/list"><i class="fa-solid fa-shop"></i></a> <!-- Products -->
            <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="/login"><i class="fa-regular fa-address-card"></i></a>
        </nav>
    
</header>
