<li class="caja-producto-oferta">
    <a href="/products/detail/<%= product.id %>">
            <div class="div-imagen-producto"><img src="/products/<%= product.image %>" class="imagen-oferta"></div>
            <div class="caja-off">
                <div class="texto">
                    <a class="tipografia-nombre-producto"><%= product.name %></a>
                        <div class="tipografia-oferta">
                        <% let precioDescuento = ((100- product.discount) * product.price) / 100 %>
                        </div>
                </div>
            </div>
    </a>
</li>
