<li class="caja-producto-oferta">
    <a class="caja-producto-oferta" href="/products/detail/<%= element.id %>">

       
            <div class="div-imagen-producto"><img src="/products/<%= element.image %>" class="imagen-oferta"></div>
            <div class="caja-off">
                <div class="texto">
                    <a class="tipografia-nombre-producto"><%= element.name %></a>
                    <a class="tipografia-oferta"><%= element.price %></a>
                </div>
                <div class="caja-carrito"><i class="fa-solid fa-cart-plus icono-carrito"></i></div>
            </div>
 


    </a>
</li>

