
<li>
    <a href="/products/detail/<%= element.id %>">
        <%= element.name %> <span> $<%= element.price %>  </span>
        <img src="<%= element.image %> " alt="" width="20%">
    </a>
</li>


