
<li>
    <a href="/products/editar/<%= element.id %>">
        <%= element.name %> <span> $<%= element.price %></span>
    </a>
    <form method="POST" action="/products/delete/<%= element.id %>?m=DELETE" class="eliminar">
        <button type="submit" class="beliminar">Eliminar</button>
    </form>
</li>


