:root {
    --amarillo: rgb(198, 138, 46);
    --grisClaro: rgb(149, 154, 156);
    --grisAzulado: rgb(87, 102, 115);
    --azul: rgb(31, 56, 86);
    --grisObscuro: rgb(55, 59, 59);
}

main {
    font-family: Montserrat, sans-serif;
    display: flex;
    flex-direction: column;
}

body {
    background-image: url(/images/background.jfif);
    background-position: top-;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

main {
    min-height: fit-content;
    margin: 5%;
    height: 60vh;
}

.contenedorCart {
    display: flex;
    justify-content: center;
}

.parent {
    display: grid;
    grid-template-columns: 3fr 1fr 0.5fr 1fr;
    grid-template-rows: 0.5fr repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 1px solid black;
    color: var(--amarillo);
    background-color: var(--azul);
    border-radius: 10px;
    padding: 1%;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    align-items: center;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    align-items: center;
    border-left: 1px solid black;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    align-items: center;
}

.div4 {
    grid-area: 1 / 4 / 2 / 5;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    align-items: center;
}

.div5 {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    border-bottom: 1px solid black;
}

.miniatura {
    display: none;
}

.nombreProd {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    text-transform: uppercase;
}

.div6 {
    grid-area: 2 / 2 / 3 / 3;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div7 {
    grid-area: 2 / 3 / 3 / 4;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div8 {
    grid-area: 2 / 4 / 3 / 5;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div9 {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    border-bottom: 1px solid black;
}

.div10 {
    grid-area: 3 / 2 / 4 / 3;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div11 {
    grid-area: 3 / 3 / 4 / 4;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div12 {
    grid-area: 3 / 4 / 4 / 5;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div13 {
    grid-area: 4 / 2 / 5 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: underline;
}

.div14 {
    grid-area: 4 / 4 / 5 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:480px) {
    .miniatura {
        display: flex;
        width: 10%;
    }
    .parent {
        margin-bottom: 5%;
    }
}