:root {
    --amarillo: rgb(198, 138, 46);
    --grisClaro: rgb(149, 154, 156);
    --grisAzulado: rgb(87, 102, 115);
    --azul: rgb(31, 56, 86);
    --grisObscuro: rgb(55, 59, 59);
}

img {
    width: 100%;
}

body {
    background-image: url(/images/background.jfif);
    background-position: top-;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainDetail {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}

.contenedorDetalle {
    margin: 5%;
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: var(--azul);
    border-radius: 20px;
    box-shadow: 10px 10px 5px #242424;
}

.imagenDetalle {
    margin: auto;
    width: 100%;
}

.nombreDetalle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--amarillo);
    border-bottom-left-radius: 20px;
    align-items: center;
}

.fichaDetalle {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.nombreProd {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: var(--amarillo);
}

.nombreCamisa {
    display: none;
}

.precios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.precioUno {
    color: rgb(225, 221, 221);
    text-decoration: line-through;
    font-size: 1.5em;
}

.precioDos,
.descuento {
    color: var(--amarillo);
}

.precioDos {
    font-size: 2em;
}

.descuento {
    font-size: 1.5em;
}

.detalle {
    color: rgb(225, 221, 221);
    height: 100%;
}

.detalle p,
.finalDetalle {
    margin-top: 5%;
}

.cantidadUnidades {
    color: rgb(225, 221, 221);
    display: flex;
    flex: wrap;
    white-space: pre;
}

.finalDetalle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.inputUnidades input {
    width: 20%;
    margin-left: 20%;
}

.añadir {
    background-color: var(--amarillo);
    min-width: fit-content;
    width: 30%;
    font-family: Montserrat, sans-serif;
    font-style: italic;
    margin-right: 2%;
}

.eliminar {
    margin-right: 2%;
    margin-bottom: 2%;
    display: flex;
    align-self: flex-end; 
}

.beliminar {
    background-color: var(--amarillo);
    font-family: Montserrat, sans-serif;
    font-style: italic;
}

@media (min-width: 480px) {}

@media (min-width:800px) {
    .contenedorDetalle {
        display: flex;
        flex-direction: row;
        width: 80%;
        background-color: var(--azul);
        border-radius: 20px;
        box-shadow: 10px 10px 5px #242424;
    }
    .nombreCamisa {
        display: flex;
        color: var(--amarillo);
        text-transform: uppercase;
        margin-bottom: 8%;
    }
}