:root {
    --amarillo: rgb(198, 138, 46);
    --grisClaro: rgb(149, 154, 156);
    --grisAzulado: rgb(87, 102, 115);
    --azul: rgb(31, 56, 86);
    --grisOscuro: rgb(55, 59, 59);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.navCentro {
    display: flex;
    flex-basis: 50vw;
}

header { 
    height: 15vh;
    width: 100%;
    background-color: var(--azul);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    overflow: hidden;
}

header i {
    color: var(--amarillo);
}



.logo {
    width: 50%;
    height: auto;
}

.fa-bars {
    color: var(--amarillo);
}

nav div a {
    color: var(--amarillo);
}

.navDesktop {
    display: none;
}

.navAdelante {
    display: flex;
    flex-basis: 30vw;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.navAtras {
    display: none;
}

.alinea p {
    display: none;
}

.alinea a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    color: var(--amarillo);
}

footer {
    position: relative;
    bottom: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 0.5rem;
    color: var(--amarillo);
    background-color: var(--azul);
    min-height: fit-content;
}

.noventa {
    margin: 1%;
}

.ayuda,
.empresa,
.contacto,
.redes {
    margin: 2%;
}


/* DE ACA EN ADELANTE ES TABLET */

@media (min-width: 480px) {
    footer {
        display: flex;
        flex-wrap: wrap;
        font-size: 1rem;
        justify-content: space-evenly;
        background-color: var(--azul);
        color: var(--amarillo);
        min-height: fit-content;
        width: 100%;
    }
    .noventa {
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .iconosRedes {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    footer div h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
        font-size: 0.5rem;
        color: var(--azul);
        background-color: var(--amarillo);
        border-radius: 100%;
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }
    .alinea a {
        display: none;
    }
}


/* DE ACA EN ADELANTE ES COMPUTADORA */

@media (min-width:800px) {
    .indice {
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    .home {
        margin-left: 2%;
    }
    .navCentro {
        display: flex;
        justify-content: space-between;
        flex-basis: 20vw;
    }
    .navDesktop {
        display: flex;
        margin-right: 5%;
    }
    .navAtras {
        display: flex;
        justify-content: space-around;
        flex-basis: 30vw;
    }
    .fa-bars {
        display: none;
    }
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: var(--azul);
        color: var(--amarillo);
    }
    .noventa {
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
    }
    .ayuda,
    .empresa,
    .contacto,
    .redes {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-basis: 25%;
        margin: 0;
    }
    .iconosRedes {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 15vw;
    }
    footer div h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
        font-size: .8rem;
        color: var(--azul);
        background-color: var(--amarillo);
        border-radius: 100%;
        border-radius: 50%;
        width: 80px;
        height: 80px;
    }
    .alinea p,
    .alinea a {
        display: block;
        margin-top: 2%;
        font-size: 0.8rem;
        text-decoration: none;
        color: var(--amarillo);
    }

    .navAtras a{
        color: var(--amarillo);
    }

    .navAtras i {
        margin-left: 1px;
        margin-right: 1px;
    }
    .logo {
        width: 100%;
        height: auto;
    }
}