* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}


body {
    background-image: url(/images/fondo.jpg);
    background-position: top-;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}


img{
    width: 100%;
}

.lista-producto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 2%;
    gap: 2rem;
    margin-top: 5%;
}


.caja-producto-oferta {
    background-color: white;
    width: 80%;
    border-radius: 20px;
    height: 30%;
    font-size: 10px;
}

.icono-carrito {
    font-size: xx-large;
}

.caja-off {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--amarillo);
    border-bottom-right-radius: 20px;
    /*le da el radio a la oferta*/
    border-bottom-left-radius: 20px;
    /*le da el radio a la oferta*/
    align-items: center;
    /* margin: center; QUE ES ESTO??? */
}
ul {
    list-style:none
}

.texto {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight:bolder;
    font-size: 1.5em;
}

.imagen-oferta {
    border-top-left-radius: 20px;
    /*le da el radio a la oferta*/
    border-top-right-radius: 20px;
    /*le da el radio a la oferta*/
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.div-imagen-producto {
    width: 100%;
    /* ancho de la imagen dentro de la caja*/
    height: 40vh;
    overflow: hidden;
}

.muestra-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5%;
}

.tipografia-nombre-producto {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.tipografia-oferta {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    

}

.caja-carrito {
    display: flex;
    justify-content: flex-end;
    width: 20%;
}


.add-product{
    display: flex;
    justify-content: center;
    margin: 40px 0;
    height: 40px;
    align-items: center;
}

.newProduct{
    font-family: 'Montserrat', sans-serif;
    font-weight:bolder;
    font-size: 1.5em;
    background-color: var(--amarillo);
    
}

/* DE ACA EN ADELANTE ES TABLET */

@media (min-width:480px) {
    .caja-producto-oferta {
        width: 40%;
    }
    .producto-caja {
        width: 20%;
    }
}


/* DE ACA EN ADELANTE ES COMPUTADORA */

@media (min-width:800px) {
    .caja-producto-oferta {
        width: 20%;
    }
    .producto-caja {
        margin: none;
        width: 10%;
    }
    main {
        padding-left: 2%;
        padding-right: 2%;
    }
    .caja-producto-oferta:hover{
        transform: scale(1.1);
        transition: transform 0.5s ease-in-out;
        
    }
   
}