* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

main {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}

body {
    background-image: url(/images/fondo.jpg);
    background-position: top-;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.caja1 {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.caja2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 60%;
    padding: 2%;
    background-color: rgb(31, 56, 86);
    border-radius: 2%;
}

.elemento1 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(198, 138, 46);
    margin-bottom: 2%;
    margin-top: 2%;
}

.elemento2 {
    display: flex;
    align-items: left;
}

.elemento3 {
    display: flex;
    align-items: left;
}

.elemento4 {
    text-align: left;
    margin-bottom: 5%;
    color: rgb(198, 138, 46);
}

.elemento5 {
    list-style: none;
    text-decoration: none;
    color: rgb(198, 138, 46);
    display: flex;
    align-items: left;
    margin-bottom: 3%;
}

.elemento6 {
    margin-bottom: 1%;
}

.elemento6 a {
    list-style: none;
    text-decoration: none;
    color: rgb(31, 56, 86);
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(198, 138, 46);
    padding: 1%;
    border-radius: 5px;
}

.boton {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 4%;
    background-color: rgb(198, 138, 46);
    font-size: 16px;
    color: rgb(31, 56, 86);
    padding: 1%;
    border-radius: 5px;
}

#recuerdame {
    margin-right: 2%;
}

#correo {
    background-color: rgb(140, 154, 156);
    border-radius: 5px;
    padding: 1.5%;
    width: 100%;
    margin-top: 6%;
    margin-bottom: 6%;
    color: black;
}

#contraseña {
    background-color: rgb(140, 154, 156);
    border-radius: 5px;
    padding: 1.5%;
    width: 100%;
    margin-bottom: 5%;
    color: black;
}

.feedback{
    color: red;
}



/* DE ACA EN ADELANTE ES TABLET */

@media (min-width:480px) {
    .caja2 {
        width: 50%;
    }
}

/* DE ACA EN ADELANTE ES COMPUTADORA */

@media (min-width:800px) {
    .caja2 {
        width: 35%;
    }
}