*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
    text-decoration:none;
}

body {
    background-image: url(/images/fondo.jpg);
    background-position: top-;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainPerfilUsuario {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}

.contenedorPerfilUsuario {
    height: 49vh;
    margin: 5%;
    display: flex;
    flex-direction: row;
    width: 45%;
    background-color: var(--azul);
    border-radius: 20px;
    box-shadow: 10px 10px 5px #242424;
    
}

.fichaPerfilUsuario {
    flex-basis: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding: 1%
}

.perfilUsuario {
    font-family: 'Montserrat', sans-serif;
    color: rgb(198, 138, 46);
    font-size: 20px;
    justify-content: center;
    font-weight: bold;
    border-bottom: 2px solid #c6873e;
}

.datoUsuario{
    margin-left: 4%;
    color: white;
    font-weight: normal;
}

.nombreUsuario {
    font-family: 'Montserrat', sans-serif;
    color: rgb(198, 138, 46);
    font-size: 18px;
    font-weight: bold;
}


.apellidoUsuario {
    font-family: 'Montserrat', sans-serif;
    color: rgb(198, 138, 46);
    font-size: 18px;
    font-weight: bold;
}

.locacionUsuario {
    font-family: 'Montserrat', sans-serif;
    color: rgb(198, 138, 46);
    font-size: 18px;
    font-weight: bold;
}

.emailUsuario {
    font-family: 'Montserrat', sans-serif;
    color: rgb(198, 138, 46);
    font-size: 18px;
    font-weight: bold;
}

.tituloPerfilUsuario{
    margin-top: 4%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

.titulo{
    margin-left: 5%;
    margin-bottom: 4%;
    display: flex;
    flex-direction: row;
}


.contenedorImagenUsuario{
    /*display:*/ 
    flex-basis: 40%;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
}

.imagenUsuario {
    margin: auto;
    width: 100% ;
    
}
