* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-image: url(/images/background.jfif);
    background-position: top-;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

main {
    margin-bottom: 15%;
}

.caja1 {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.caja2 {
    color: rgb(198, 138, 46);
    font-family: 'Montserrat', sans-serif;
    width: 70%;
    padding: 2%;
    background-color: rgb(31, 56, 86);
    border-radius: 2%;
}

.titulo {
    font-family: 'Montserrat Subrayada', sans-serif;
}

.titulo2{
    margin-top: 4%;
}

.elemento3 {
    margin-top: 5%;
    margin-bottom: 25px;
    color: rgb(198, 138, 46);
}

.elemento4 {
    margin-bottom: 1%;
    position: relative;
    left: 30%;
}

.elemento4 a {
    font-family: 'Montserrat Subrayada', sans-serif;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    color: rgb(198, 138, 46);
}

.boton {
    font-family: 'Montserrat Subrayada', sans-serif;
    margin-bottom: 6%;
    background-color: rgb(31, 56, 86);
    font-size: 16px;
    color: rgb(198, 138, 46);
    position: relative;
    left: 30%;
}

#nombre {
    border-radius: 5px;
    background-color: rgb(140, 154, 156);
    padding: 1.3%;
    width: 100%;
    color: black;
    margin-top: 1.4%;
    margin-bottom: 1.4%;
}

#apellido {
    border-radius: 5px;
    background-color: rgb(140, 154, 156);
    padding: 1.3%;
    width: 100%;
    color: black;
    margin-top: 1.4%;
    margin-bottom: 1.4%;
}

#dni {
    border-radius: 5px;
    background-color: rgb(140, 154, 156);
    padding: 1.3%;
    width: 100%;
    color: black;
    margin-top: 1.4%;
    margin-bottom: 1.4%;
}

::placeholder {
    color: black;
}


#ubicacion {
    border-radius: 5px;
    background-color: rgb(140, 154, 156);
    padding: 1.3%;
    width: 100%;
    color: black;
    margin-top: 1.4%;
    margin-bottom: 6%;
}

#correoe {
    border-radius: 5px;
    background-color: rgb(140, 154, 156);
    padding: 1.3%;
    width: 100%;
    color: black;
    margin-top: 1.4%;
    margin-bottom: 1.4%;
}

#contra {
    border-radius: 5px;
    background-color: rgb(140, 154, 156);
    padding: 1.3%;
    width: 100%;
    color: black;
    margin-top: 1.4%;
    margin-bottom: 1.4%;
}

#rcontra {
    border-radius: 5px;
    background-color: rgb(140, 154, 156);
    padding: 1.3%;
    width: 100%;
    color: black;
    margin-top: 1.4%;
    margin-bottom: 1.4%;
}

/* DE ACA EN ADELANTE ES TABLET */

@media (min-width:480px) {
    #nombre {
        width: 60%;
    }
    #apellido {
        width: 60%;
    }
    .caja2{
        width: 60%;
    }
}

/* DE ACA EN ADELANTE ES COMPUTADORA */

@media (min-width:800px) {
    .caja2{
        width: 40%;
    }
    #nombre {
        width: 60%;
    }
    #apellido {
        width: 60%;
    }

}