:root {
    --amarillo: rgb(198, 138, 46);
    --grisClaro: rgb(149, 154, 156);
    --grisAzulado: rgb(87, 102, 115);
    --azul: rgb(31, 56, 86);
    --grisOscuro: rgb(55, 59, 59);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.navCentro {
    display: flex;
    flex-basis: 80vw;
    align-items: center;
}

.toggle {
    position: relative;
    display: flex;
    width: 0.05vw;
    height: 0.05vh;
    justify-content: center;
    cursor: pointer;
    padding: 5%;
    margin: 2%;
    overflow: hidden;
    z-index: 100;
}

.toggle span{
    position: absolute;
    width: 25px;
    height: 2px;
    background: var(--amarillo);
    border-radius: 4px;
    transition: 0.5s;

}
.toggle span:nth-child(1){
    transform: translateY(-8px);
}

.toggle.active span:nth-child(1){ 
    transform: translateY(0px) rotate(45deg);
    transition-delay: 0.25s;
}

.toggle span:nth-child(2){
    transform: translateY(8px);
}

.toggle.active span:nth-child(2){
    transform: translateY(0px) rotate(315deg);
    transition-delay: 0.25s;
}

.toggle.active span:nth-child(3){
    transform: translateX(60px)
}

.menuMobile a{
    text-decoration: none;
    color: var(--amarillo);
}
.menuMobile{
    width: 100vw;
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(31, 56, 86, .80);
}

.menuMobile.active{
    left: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    transition: 0.4s;
}

header { 
    height: 15vh;
    width: 100%;
    background-color: var(--azul);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    overflow: hidden;
}

header i {
    color: var(--amarillo);
}



.logo {
    width: 50%;
    height: auto;
}

.fa-bars { 
    color: var(--amarillo);
    
    
}

header form[action="/logout"] button {
background-color: unset;
    border-style: none;
    font-size: 1.3em;
}
/* MENU BURGER INICIO*/

#menuBurger{ /*Todo lo que sea el menuBurger esta aca */
    display: flex;
    flex-flow:column wrap ; /*combina el flex direction con el wrap*/  
    justify-content: center;
    position: fixed;
    width: 111px;
    height: 100vw;
    left: 100vw;
    top: 135px;
    transition:all 300ms ;
    color: var(--azul); 
    background-color: rgba(31, 56, 86, .95);/*el 95 es la TRANSPARENCIA DEL FONDO en donde se encuntra el SubMenu ya desplegado*/
    
}

#menuBurger:target{    
left: 74vw;
transition:all 300ms ;
}


/*textos dentro del subMenu*/
#menuBurger a{ /*ataco a dentro de las etiquetas a. OSEA A LOS TEXTOS*/
    display: flex;
    padding-bottom: 50px;
    justify-content: center;
    color: aliceblue;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600; /*grosor de las letras*/
    
}



/*MENU BURGER FIN*/


nav div a {
    color: var(--amarillo);
}

.navDesktop {
    display: none;
}

.navAdelante {
    display: flex;
    flex-basis: 30vw;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.navAtras {
    display: none;
}

.alinea p {
    display: none;
}

.alinea a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    color: var(--amarillo);
}

footer {
    position: relative;
    bottom: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 0.5rem;
    color: var(--amarillo);
    background-color: var(--azul);
    min-height: fit-content;
}

.noventa {
    margin: 1%;
}

.ayuda,
.empresa,
.contacto,
.redes {
    margin: 2%;
}

.inputBuscar{
    display: none;
}

/* DE ACA EN ADELANTE ES TABLET */

@media (min-width: 480px) {
    footer {
        display: flex;
        flex-wrap: wrap;
        font-size: 1rem;
        justify-content: space-evenly;
        background-color: var(--azul);
        color: var(--amarillo);
        min-height: fit-content;
        width: 100%;
    }
    .noventa {
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .iconosRedes {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    footer div h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
        font-size: 0.5rem;
        color: var(--azul);
        background-color: var(--amarillo);
        border-radius: 100%;
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }
    .alinea a {
        display: none;
    }
    #menuBurger { /*Mateo: adaptacion del menuburger*/
        display: flex;
        padding: 100px;
        align-content: center;
    }
}


/* DE ACA EN ADELANTE ES COMPUTADORA */

@media (min-width:800px) {
    .toggle{
        display: none;
    }
    .menuMobile{
        display: none;
    }
    .indice {
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    .home {
        margin-left: 2%;
    }
    .navCentro {
        display: flex;
        justify-content: space-around;
        flex-basis: 50vw;
    }
    .navDesktop {
        display: flex;
        margin-right: 5%;
    }
    .navAtras {
        display: flex;
        justify-content: space-around;
        flex-basis: 50vw;
    }
    .fa-bars {
        display: none;
    }
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: var(--azul);
        color: var(--amarillo);
    }
    .noventa {
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
    }
    .ayuda,
    .empresa,
    .contacto,
    .redes {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-basis: 25%;
        margin: 0;
    }
    .iconosRedes {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 15vw;
    }
    footer div h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
        font-size: .8rem;
        color: var(--azul);
        background-color: var(--amarillo);
        border-radius: 100%;
        border-radius: 50%;
        width: 80px;
        height: 80px;
    }
    .alinea p,
    .alinea a {
        display: block;
        margin-top: 2%;
        font-size: 0.8rem;
        text-decoration: none;
        color: var(--amarillo);
    }

    .navAtras a{
        color: var(--amarillo);
    }

    .navAtras i {
        margin-left: 1px;
        margin-right: 1px;
    }
    .logo {
        width: 100%;
        height: auto;
    }
    #menuBurger{
        display: none;
    }
    .inputBuscar:hover{
        display: flex ;
    }
}