:root {
    --amarillo: rgb(198, 138, 46);
    --grisClaro: rgb(149, 154, 156);
    --grisAzulado: rgb(87, 102, 115);
    --azul: rgb(31, 56, 86);
    --grisOscuro: rgb(55, 59, 59);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* img {
    width: 30%
} */


/* header { 
    height: 15vh;
    width: 100%;
    background-color: var(--azul);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    overflow: hidden;
} */


.navAdelante {
    display: flex;
    flex-basis: 30vw;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

/* DE ACA EN ADELANTE ES TABLET */

@media (min-width: 480px) {
    footer {
        display: flex;
        flex-wrap: wrap;
        font-size: 1rem;
        justify-content: space-evenly;
        background-color: var(--azul);
        color: var(--amarillo);
        min-height: fit-content;
        width: 100%;
    }
    .noventa {
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 2%;
        padding-right: 2%;
    }
    
}


/* DE ACA EN ADELANTE ES COMPUTADORA */

@media (min-width:800px) {
    .navCentro {
        display: flex;
        justify-content: space-around;
        flex-basis: 50vw;
    }
    .navDesktop {
        display: flex;
        margin-right: 5%;
    }
    .navAtras {
        display: flex;
        justify-content: space-around;
        flex-basis: 50vw;
    }
    .noventa {
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
    }
    
    .navAtras a{
        color: var(--amarillo);
    }

    .navAtras i {
        margin-left: 1px;
        margin-right: 1px;
    }
    .logo {
        width: 30%;
        height: auto;
    }

    }
    .inputBuscar:hover{
        display: flex ;
    }
}