<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head.ejs', {estilo: 'register', titulo: 'Modificar Usuario'}) %>

<body>
    <%- include ('../partials/header.ejs') %>
    <main>    
    </main>

    <%- include ('../partials/footer.ejs') %>
</body>

</html>