<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head.ejs', {estilo: 'register', titulo: 'Registro'}) %>

<body>
    <%- include ('../partials/header.ejs') %>

    <main>
        <div class="caja1">
            <form class="caja2" action="/guardarUsuario" method="POST">
                <p class="titulo"> CREAR CUENTA </p>

                <p class="titulo2"> Información personal: </p>

                <label for="nombre"></label>
                <input type="text" id="nombre" name="nombre" value="Nombre" required><br>

                <label for="apellido"></label>
                <input type="text" id="apellido" name="apellido" value="Apellido" required><br>

                <label for="dni"></label>
                <input type="number" id="dni" name="dni" placeholder="DNI" required><br>

                <label for="ubicacion"></label>
                <input type="text" id="ubicacion" name="ubicacion" value="Ubicación" required><br>

                <p class="titulo"> INFORMACIÓN DE CUENTA: </p>

                <label for="correoe"></label>
                <input type="email" id="correoe" name="correoe" value="E-mail" required><br>

                <label for="contra"></label>
                <input type="password" id="contra" name="contra" value="Contraseña" required><br>

                <label for="rcontra"></label>
                <input type="password" id="rcontra" name="rcontra" value="Contraseña" required><br>

                <div class="TerminosCondiciones">
                    <input type="checkbox" id="condiciones" name="condiciones" value="condiciones">
                    <label for="condiciones">He leído y acepto los términos y condiciones</label><br>
                </div>

                <div class="botonesCrearInicio">
                    <div class="botonCrearCuenta">
                        <input type="submit" value="CREAR CUENTA" class="boton"><br>
                    </div>
                    <div class="botonInicio">
                        <a href="/login">INICIAR SESION</a>
                    </div>
                </div>

            </form>
        </div>
    </main>

    <%- include ('../partials/footer.ejs') %>
</body>

</html>