<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head.ejs', {estilo: 'register', titulo: 'Registro'}) %>

<body>
    <%- include ('../partials/header.ejs') %>

    <main>



        <div class="caja1">

            <form class="caja2" action="/saveUser" method="POST" enctype="multipart/form-data">
                <p class="titulo"> CREAR CUENTA </p>
                <div class="errores">
                    <ul></ul>
                </div>
                <p class="titulo2"> Información personal: </p>

                <label for="nombre"></label>
                <input type="text" id="nombre" name="firstName" placeholder="Nombre" ><br>

                <label for="apellido"></label>
                <input type="text" id="apellido" name="lastName" placeholder="Apellido" ><br>

                <label for="ubicacion"></label>
                <input type="text" id="ubicacion" name="location" placeholder="Ubicación" ><br>

                <p class="titulo"> INFORMACIÓN DE CUENTA: </p>

                <label for="correoe"></label>
                <input type="email" id="correoe" name="email" placeholder="E-mail" ><br>

                <label for="contra"></label>
                <input type="password" id="contra" name="password" placeholder="Contraseña" ><br>

                <label for="imagen">Imagen de perfil:</label>
                <input type="file" id="imagen" name="image"><br>

                <div class="TerminosCondiciones">
                    <input type="checkbox" id="condiciones" name="condiciones" value="condiciones">
                    <label for="condiciones">He leído y acepto los términos y condiciones</label><br>
                </div>

                <div class="botonesCrearInicio">
                    <div class="botonCrearCuenta">
                        <button type="submit" class="boton">CREAR CUENTA</button><br>
                    </div>
                    <div class="botonInicio">
                        <a href="/login">INICIAR SESION</a>
                    </div>
                </div>

            </form>
        </div>
        <script src="/validationsFront/userCreateValidations.js">

        </script>
    </main>

    <%- include ('../partials/footer.ejs') %>
</body>

</html>